[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
egg = {ref = "v1.0", git = "https://github.com/facebookresearch/EGG.git"}

[dev-packages]

[requires]
python_version = "3.8"
